body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0f0f0;
    overflow: hidden;
    background-image: url("src/homepage.jpeg");
    background-size: cover;
    background-position: center;

}

.homepage {
    margin: 100px auto;
    max-width: 600px;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    margin-top: 17%;
    backdrop-filter: blur(10px);
}

h1 {
    font-size: 2rem;
    color: #333;
}

p {
    font-size: 1.2rem;
    color: #555;
}

.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007BFF;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.disclaimer{
    color: red;
    padding-top: 80px;
}
